<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width = device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" data-head-react="true" href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.18.9/mercadolibre/favicon.svg">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href = "/css/styles.css" >
    <link rel="stylesheet" href = "/css/normalize.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    rel="stylesheet" />


</head>
<body class="body">

    <main class="main">
        <header class="top-content">
            <div class="logo-searchbox-container">
                <div class="logo-container">
                    <div class="logo"></div>
                </div>
                
                <div class="wrapper">
                    <div class="search-box">
                        <input type="text" class="input-search" placeholder="Buscar...">
                    </div>
                </div>
            </div>
            <p class="header-paragraph"><i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>

            <nav class="left-nav">
                <ul>
                    <li class="nav__li"><i class=""></i><a href="/ofertas">Ofertas</a></li>
                    <li class="nav__li"><i class=""></i><a href="/tiendas">Tiendas Oficiales</a></li>
                    <li class="nav__li"><i class=""></i><a href="/ventas">Vender</a></li>
                    <li class="nav__li"><i class=""></i><a href="/ayuda">Ayuda</a></li>
                </ul>
            </nav>

            <nav class="right-nav">
                <ul>
                    <li class="nav__li"><i class="fa-solid fa-address-card"></i><a href="/register">Creá tu cuenta</a></li>
                    <li class="nav__li"><i class="fa-solid fa-arrow-right"></i><a href="/en-progreso">Ingresá</a></li>
                    <li class="nav__li"><i class="fa-solid fa-basket-shopping"></i><a href="/en-progreso">Mis Compras</a></li>
                </ul>
            </nav>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

        </header>

        <img class ="publicidad" src="/img/img-home-banner.jpg" >
        <h1><u>PRODUCTOS</u></h1>

        <container class="flex-container">

            <h2 class="content-box">Basado en tu última visita</h2>

            <article class="article">

                <img src="/img/img-cafetera-moulinex.jpg" width="150px" height="150px">
                <div class="div-container">
                    <i class="fas fa-truck"></i>
                    <div class="div-price-discount-container">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <p class="descripciones">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet</p>
                </div>
            </article>

            <article class="article">

                <img src="/img/img-macbook-pro-2019.jpg" width="150px" height="150px">
                <div class="div-container">
                    <i class="fas fa-truck"></i>
                    <div class="div-price-discount-container">
                        <p class="precios">
                            $150.970
                        </p>
                        <p class="descuentos">
                            10% OFF
                        </p>
                    </div>
                    <p class="descripciones">
                        Macbook Pro 2019 Lorem ipsum, dolor sit amet.
                    </p>
                </div>
            </article>

            <article class="article">

                <img src="/img/img-tv-samsung-smart.jpg" width="150px" height="150px">
                <div class="div-container">
                    <i class="fas fa-truck"></i>
                    <div class="div-price-discount-container">
                        <p class="precios">$54.230</p>
                    </div>
                    <p class="descripciones">
                        Televisor Samsung Smart TV Lorem ipsum, dolor sit amet.
                    </p>
                </div>
            </article>

            <article class="article">

                <img src="/img/img-samsung-galaxy-s10.jpg" width="150px" height="150px">
                <div class="div-container">
                    <i class="fas fa-truck"></i>
                    <div class="div-price-discount-container">
                        <p class="precios">$89.410</p>
                        <p class="descuentos">
                            20% OFF
                        </p>
                    </div>
                    <p class="descripciones">Samsung Galaxy s10 Lorem ipsum, dolor sit amet.</p>
                </div>
            </article>

        </container>

        <container class="flex-container">

            <h2 class="content-box"> Ofertas </h2>

            <article class="article">

                <img src="/img/img-cafetera-moulinex.jpg" width="150px" height="150px">
                <div class="div-container">
                    <i class="fas fa-truck"></i>
                    <div class="div-price-discount-container">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <p class="descripciones">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet</p>
                </div>
            </article>

            <article class="article">

                <img src="/img/img-macbook-pro-2019.jpg" width="150px" height="150px">
                <div class="div-container">
                    <i class="fas fa-truck"></i>
                    <div class="div-price-discount-container">
                        <p class="precios">
                            $150.970
                        </p>
                        <p class="descuentos">
                            10% OFF
                        </p>
                    </div>
                    <p class="descripciones">
                        Macbook Pro 2019 Lorem ipsum, dolor sit amet.
                    </p>
                </div>
            </article>

            <article class="article">

                <img src="/img/img-tv-samsung-smart.jpg" width="150px" height="150px">
                <div class="div-container">
                    <i class="fas fa-truck"></i>
                    <div class="div-price-discount-container">
                    <p class="precios">$54.230</p>
                    </div>
                    <p class="descripciones">
                        Televisor Samsung Smart TV Lorem ipsum, dolor sit amet.
                    </p>
              </div>
            </article>

            <article class="article">

                <img src="/img/img-samsung-galaxy-s10.jpg" width="150px" height="150px">
                <div class="div-container">
                    <i class="fas fa-truck"></i>
                    <div class="div-price-discount-container">
                        <p class="precios">$89.410</p>
                        <p class="descuentos">
                            20% OFF
                        </p>
                    </div>
                    <p class="descripciones">Samsung Galaxy s10 Lorem ipsum, dolor sit amet.</p>
                </div>
            </article>

        </container class="article">

    </main>
    <footer class="footer">

        <table>
            <tr>
                <th>
                    <i class="fa fa-credit-card-alt"></i>
                </th>

                <th>
                    <i class="fa fa-gift"></i>
                </th>

                <th>
                    <i class="fa fa-shield"></i>
                </th>
            </tr>

            <tr>

              <th>


                  Pagá con tarjeta o en efectivo

              </th>

              <th>


                Envío gratis desde $ 1.999

              </th>

              <th>


                Seguridad, de principio a fin

              </th>

            </tr>

            <tr>

              <td>              

                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
                pago. ¡Y siempre es seguro!

              </td>

              <td>

                  Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
                  productos. Es un beneficio de Mercado Puntos.

              </td>

              <td>

                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegido.
                
              </td>

            </tr>

          </table>

          <p class="copyright-note">
                <i>
                   Copyright © 1999-2019 MercadoLiebre S.R.L
                </i>
          </p>
    </footer>

</body>

</html>